@page
@model IndexModel
@{
    ViewData["Title"] = "Менеджер книг";
}

<h2>Менеджер книг</h2>

<a asp-page="/Books/Create" class="btn btn-primary mb-3">Добавить книгу</a>
<h3>Список книг</h3>
<table>
    <thead>
        <tr>
            <th>Название</th>
            <th>Автор</th>
            <th>Файл</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model.Books)
        {
                <tr>
                    <td>@book.Title</td>
                    <td>@book.Author</td>
                    <td>
                        <a href="@book.FilePath" target="_blank">Скачать</a>
                    </td>
                </tr>
        }
    </tbody>
</table>
